<div class="background"></div>
<h1>It's time to fix time!</h1>
<p>
  Why are all units based on multiples of ten <em>except time</em>?
  <br />
  Let's change that.
</p>

<div class="credit" aria-label="Credit for the background image">
  Photo by
  <a
    target="_blank"
    href="https://unsplash.com/@fabrizioverrecchia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  >
    Fabrizio Verrecchia
  </a>
  on
  <a
    target="_blank"
    href="https://unsplash.com/s/photos/time?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  >
    Unsplash
  </a>
</div>
