<mat-card>
  <mat-card-content>
    <p>
      Please don't take this page too seriously. One day, a friend and I wanted
      to figure out what would happen if time were based on multiples of 10 and
      after doing some math, we found out that this concept already existed and
      has been implemented in multiple countries and cultures.
    </p>
    <p>
      Also, this was mainly a learning project, so please excuse potential bad
      design / UX choices and poor code quality. The code is meant to never be
      touched again.
    </p>
    <mat-divider inset></mat-divider>
    <p class="after-divider">
      The awesome CSS clock was originally created by Mattia Astorino and can be
      found
      <a target="_blank" href="https://codepen.io/equinusocio/pen/PoNYGGX">
        here on CodeSandbox </a
      >.
    </p>
  </mat-card-content>
</mat-card>
