:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;

  mat-card {
    max-width: 70ch;

    .french-flag {
      background-image: url('~src/assets/french-flag.png');
      background-size: contain;
      background-position: 50% 50%;
    }

    figure {
      img {
        width: 100%;
      }

      figcaption {
        padding: 0 1em;
        text-align: center;
        font-style: italic;
      }
    }

    a {
      &:visited, &:focus, &:active {
        color: inherit;
      }
    }
  }
}
