<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="french-flag"></div>
    <mat-card-title>France</mat-card-title>
    <mat-card-subtitle>During the French Revolution</mat-card-subtitle>
  </mat-card-header>
  <!--  <img-->
  <!--    mat-card-image-->
  <!--    src="assets/french-revolution-clock.jpg"-->
  <!--    alt="Photo of a decimal clock from the french revolution"-->
  <!--  />-->
  <figure mat-card-image>
    <img
      src="assets/french-revolution-clock.jpg"
      alt="Photo of a decimal clock from the french revolution"
    />
    <figcaption>
      Photo of a decimal clock from the french revolution.
      <a
        href="https://en.wikipedia.org/wiki/File:Decimal_Clock_face_by_Pierre_Daniel_Destigny_1798-1805.jpg"
        target="_blank"
      >
        Photo by DeFacto
      </a>
    </figcaption>
  </figure>
  <mat-card-content>
    <p>
      Several different efforts to switch to decimal time were made in France
      throughout history. The most notable of which, however, was during the
      French Revolution. As part of a larger attempt at decimalisation
      (including switching to the metric system), France adopted decimal time on
      22 September 1794. Its use was mandatory until 7 April 1795.
    </p>
    <p>
      During that time, clocks were produced with both decimal and standard
      time, allowing for an easier conversion period. However, decimal time
      never caught on. In addition to decimalizing time, France also started
      dividing months into three <i>décades </i> of 10 days each. This change,
      however wasn't abolished until 1805.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a
      mat-button
      target="_blank"
      href="https://en.wikipedia.org/wiki/Decimal_time#France"
      >Read more</a
    >
  </mat-card-actions>
</mat-card>
