:host {
  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: 'title title' 'normal decimal';
  align-content: center;
  justify-content: center;
  --padding: 3em;
  padding: var(--padding);
  grid-gap: var(--padding);

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'normal' 'decimal';
  }

  h3 {
    grid-area: title;
    font-size: 4em;
    text-align: center;
    line-height: 1em;
  }

  mat-card-header {
    display: flex;
    justify-content: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    app-clock {
      margin: 2em 0;
    }
  }

  .input-row {
    display: flex;
    gap: 1em;
  }
}
