<mat-toolbar
  color="primary"
  class="nav-bar"
  [class.is-small]="isScreenSmall$ | async"
>
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="['']" i18n="home|Home link"> Home </a>
    <a mat-menu-item [routerLink]="['history']" i18n="history|History link">
      History
    </a>
    <a mat-menu-item [routerLink]="['about']" i18n="about|About link">
      About
    </a>
    <a
      mat-menu-item
      href="https://github.com/LBBO/decimal-time"
      target="_blank"
      i18n="github|GitHub link"
    >
      Visit on GitHub
    </a>
  </mat-menu>
  <button
    *ngIf="isScreenSmall$ | async"
    mat-icon-button
    [matMenuTriggerFor]="appMenu"
    aria-label="Open Navigation"
    class="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['']" i18n="title">Decimal time</a>
  <ng-template [ngIf]="!(isScreenSmall$ | async)">
    <div class="spacer"></div>
    <a [routerLink]="['history']" i18n="history|History link">History</a>
    <a [routerLink]="['about']" i18n="about|About link">About</a>
    <a
      mat-button
      mat-icon-button
      i18n-aria-label="github|GitHub link"
      aria-label="Visit on GitHub"
      target="_blank"
      href="https://github.com/LBBO/decimal-time"
    >
      <img src="assets/GitHub-Mark-Light-32px.png" />
    </a>
  </ng-template>
</mat-toolbar>
