<mat-toolbar
  color="primary"
  class="nav-bar"
  [class.is-small]="isScreenSmall$ | async"
>
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="['']" i18n="home|Home link@@nav-home">
      Home
    </a>
    <a
      mat-menu-item
      [routerLink]="['history']"
      i18n="history|History link@@nav-history"
    >
      History
    </a>
    <a
      mat-menu-item
      [routerLink]="['converter']"
      i18n="converter|Converter link@@nav-converter"
    >
      Converter
    </a>
    <a
      mat-menu-item
      [routerLink]="['about']"
      i18n="about|About link@@nav-about"
    >
      About
    </a>
    <a
      class="flag"
      mat-menu-item
      *ngIf="locale !== 'en-US'"
      [href]="baseURI + '../en-US' + (url$ | async)"
    >
      <img
        alt="View in English"
        src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg"
      />
    </a>
    <a
      class="flag"
      mat-menu-item
      *ngIf="locale !== 'de-DE'"
      [href]="baseURI + '../de-DE' + (url$ | async)"
    >
      <img
        alt="Auf Deutsch ansehen"
        src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg"
      />
    </a>
    <a
      mat-menu-item
      href="https://github.com/LBBO/decimal-time"
      target="_blank"
      i18n="github|GitHub link@@nav-github"
    >
      Visit on GitHub
    </a>
  </mat-menu>
  <button
    *ngIf="isScreenSmall$ | async"
    mat-icon-button
    [matMenuTriggerFor]="appMenu"
    i18n-aria-label="@@nav-open-popup"
    aria-label="Open Navigation"
    class="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['']" i18n="title@@nav-title">Decimal time</a>
  <ng-template [ngIf]="!(isScreenSmall$ | async)">
    <div class="spacer"></div>
    <a [routerLink]="['history']" i18n="history|History link@@nav-history"
      >History</a
    >
    <a [routerLink]="['about']" i18n="about|About link@@nav-about">About</a>
    <a
      [routerLink]="['converter']"
      i18n="converter|Converter link@@nav-converter"
    >
      Converter
    </a>
    <a
      class="flag"
      *ngIf="locale !== 'en-US'"
      [href]="baseURI + '../en-US' + (url$ | async)"
    >
      <img
        alt="View in English"
        src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg"
      />
    </a>
    <a
      class="flag"
      *ngIf="locale !== 'de-DE'"
      [href]="baseURI + '../de-DE' + (url$ | async)"
    >
      <img
        alt="Auf Deutsch ansehen"
        src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg"
      />
    </a>
    <a
      mat-button
      mat-icon-button
      i18n-aria-label="github|GitHub link@@nav-github"
      aria-label="Visit on GitHub"
      target="_blank"
      href="https://github.com/LBBO/decimal-time"
    >
      <img src="assets/GitHub-Mark-Light-32px.png" />
    </a>
  </ng-template>
</mat-toolbar>
