.nav-bar {
  display: flex;
  gap: 2em;
  padding: 0 2em;
  position: sticky;

  .spacer {
    flex-grow: 1;
  }

  a {
    cursor: pointer;
    text-decoration: none;

    &, &:focus, &:active, &:visited {
      color: inherit;
    }
  }
}
