.nav-bar {
  display: flex;
  gap: 2em;
  padding: 0 2em;
  position: sticky;

  .spacer {
    flex-grow: 1;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 539px) {
  .nav-bar {
    padding: 0;
    gap: 0;
  }
}
